@import './src/components/00-Common/styles/sass/variables';
@import './src/components/00-Common/styles/sass/mixins';

.dialogs {
  width: 100%;
  display: flex;

  gap: 1px;

  .dialogWindow {
    width: 35%;
    @include messageDialog();
  }
  .messagesWindow {
    @include flex(column, space-between, '', nowrap);
    width: 65%;
    .messages {
      @include messageDialog();
    }
  }
}
