.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogsItem{
    padding: 10px;

}
.active{
    color: gold !important;
}
.dialog{
    color: rgb(48, 226, 72) !important;
}
.messages{
    padding: 10px;
}
.message{
    color: rgb(134, 39, 39);
}